<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="boulet.com.outerspacemanager.outerspacemanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activity.SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CreateAccountActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.GalaxyActivity" />
        <activity android:name=".Activity.BuildingActivity" />
        <activity android:name=".Activity.BuildingDetailsActivity" />
        <activity android:name=".Activity.GeneralActivity" />
        <activity android:name=".Activity.FlotteActivity" />
        <activity android:name=".Activity.VaisseauActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.SearchDetailsActivity" />
        <activity android:name=".Activity.ChantierActivity" />
        <activity android:name=".Activity.AttackActivity"></activity>
    </application>

</manifest>